// Variables
$website-width: 1280px;
$medium-color: #2a9d8f;
$main-color: #cdcece;
$light-color: #cccccc;
$medium-color2: #ecc47f;
$dark-color: #143642;
$bg-image: url(../img/showcase.jpg);
$nav-image: url(../img/showcase1.jpg);
$media-image: url(../img/media1.jpg);
$contact: url(../img/contact.jpg)
